* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(225deg, #113948,#004D5D,#0BAEB7,#04D5E7);
    background-size: 200% 200%;
}

.envelope {
    width: 70%;
    height: 60%;
    position: relative;
    perspective: 1000px;
}

.letter {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    position: absolute;
    transform-style: preserve-3d;
    animation: openEnvelope 2s ease forwards;
}

.content {
    padding: 20px;
    opacity: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
}

.title {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
}

.poem {
    white-space: pre-line; /* Mantiene saltos de línea en el poema */
    text-align: center;
    font-style: italic;
}

.mesag {
    white-space: pre-line;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    opacity: 0;
    animation: fadeIn 3s ease forwards;  /* Se demora 3 segundos en mostrarse por completo */
	animation-delay: 33s;  /* Aparece después de n segundos */
}

/*Animacion para mostrar objetos*/
@keyframes fadeIn {
    to {
        opacity: 1;  /* Hace que el objeto sea visible */
    }
}

@keyframes openEnvelope {
    0% {
        transform: rotateX(90deg);
        opacity: 0;
    }
    100% {
        transform: rotateX(0);
        opacity: 1;
    }
}

