body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f4d9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    text-align: center;
}

.container {
    background-color: #fff8d0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #f39c12;
    margin-bottom: 20px;
}

button {
    background-color: #f39c12;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #d87c00;
}

canvas {
    margin-top: 20px;
    border: 1px solid #ddd;
    background-color: white;
}
