body {
    margin: 0;
    padding: 0;
	/*font-family: 'Arial', sans-serif;*/
    font-family: 'segoe UI';
	/*Fondo color entero*/
    /*background-color: #282c34;*/ 
	/*Fondo degradado turqueza*/
	/*background: rgb(34,193,195);
	background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(11,19,55,1) 100%);*/
	/*Fondo degradado azul*/
	/*background: rgb(35,158,196);
	background: linear-gradient(0deg, rgba(35,158,196,1) 10%, rgba(11,19,55,1) 90%);*/
	/*Fondo degradado azul oscuro*/
	/*background: rgb(46,135,163);
	background: linear-gradient(0deg, rgba(46,135,163,1) 10%, rgba(11,19,55,1) 90%);*/
	/*Fondo degradado azul mas oscuro*/
	background: rgb(35,100,120);
	background: linear-gradient(0deg, rgba(35,100,120,1) 10%, rgba(7,14,43,1) 90%);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    flex-direction: column;
	overflow: hidden; /* Para asegurar que los corazones no se desborden */
}

h1 {
    font-size: 4rem;
    color: #ff69b4; /*rosado*/
	/*color:#ffb703;*/ /*amarillo*/
    text-shadow: 0 0 20px rgba(255, 105, 180, 0.7), 0 0 30px rgba(255, 105, 180, 0.5);/*rosado*/
	/*text-shadow: 0 0 20px rgba(255, 183, 3, 0.7), 0 0 30px rgba(255, 183, 3, 0.5);*//*amarillo*/
    animation: glow 1.5s infinite alternate;
	margin-bottom: 30px;
}

p {
    font-size: 1.5rem;
    margin-top: 5px;
	margin-bottom: 5px;
    /*color: #ffc0cb;*/
	color: #fff; /*blanco*/
}

a.button {
    display: inline-block;
    margin-top: 40px;
    padding: 15px 25px;
    background-color: #ff69b4;/*rosado*/
	/*background-color: #8ecae6;*//*celeste*/
	color:white;
    /*color: #333535;*/ /*plomo oscuro*/
    text-decoration: none;
    font-size: 1.5rem;
    border-radius: 10px;
	box-shadow: 0 0 20px rgba(255, 105, 180, 0.7); /*rosado*/
    /*box-shadow: 0 0 20px rgba(142, 202, 230, 0.7);*/ /*celeste*/
    transition: background-color 0.3s ease;
}

a.button:hover {
    background-color: #ff1493;/*rosado*/
	/*background-color: #0b1337;*//*azul*/
	color: white;
}

@keyframes glow {
	/*rosado*/
    from {
        text-shadow: 0 0 20px rgba(255, 105, 180, 0.7), 0 0 30px rgba(255, 105, 180, 0.5);
    }
    to {
        text-shadow: 0 0 40px rgba(255, 105, 180, 1), 0 0 60px rgba(255, 105, 180, 0.9);
    }
	/*amarillo*/
	/*from {
        text-shadow: 0 0 20px rgba(251, 133, 0, 0.7), 0 0 30px rgba(251, 133, 0, 0.5);
    }
    to {
        text-shadow: 0 0 40px rgba(251, 133, 0, 1), 0 0 60px rgba(251, 133, 0, 0.9);
    }*/
}

/* Corazones flotantes */
.hearts-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
}

.heart {
    position: absolute;
    width: 20px;
    height: 20px;
	background-color: #db062e;
    /*background-color: red;*/
    transform: rotate(-45deg);
    animation: float 5s infinite ease-in;
}

.heart:before,
.heart:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
	background-color: #db062e; /*#dd294b*/
    /*background-color: red;*/
    border-radius: 50%;
}

.heart:before {
    top: -10px;
    left: 0;
}

.heart:after {
    left: 10px;
    top: 0;
}

/* Animaci贸n de flotaci贸n */
@keyframes float {
    0% {
        transform: translateY(100vh) rotate(-45deg);
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    100% {
        transform: translateY(-10vh) rotate(-45deg);
        opacity: 0;
    }
}

/* Variaci贸n de las posiciones y los tiempos de los corazones */
.heart:nth-child(1) {
    left: 10%;
    animation-duration: 6s;
    animation-delay: 0s;
}

.heart:nth-child(2) {
    left: 20%;
    animation-duration: 8s;
    animation-delay: 2s;
}

.heart:nth-child(3) {
    left: 30%;
    animation-duration: 7s;
    animation-delay: 4s;
}

.heart:nth-child(4) {
    left: 40%;
    animation-duration: 5s;
    animation-delay: 1s;
}

.heart:nth-child(5) {
    left: 50%;
    animation-duration: 6.5s;
    animation-delay: 3s;
}

.heart:nth-child(6) {
    left: 60%;
    animation-duration: 4s;
    animation-delay: 1s;
}

.heart:nth-child(7) {
    left: 70%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.heart:nth-child(8) {
    left: 80%;
    animation-duration: 9s;
    animation-delay: 4s;
}

.heart:nth-child(9) {
    left: 90%;
    animation-duration: 7.5s;
    animation-delay: 5s;
}



/*C贸digos hexadecimales: #8ecae6 // #219ebc // #023047 // #ffb703 // #fb8500*/
